.side-panel {
  background-color: rgba(236, 232, 232);
  width: 15vw;
  min-width: 180px;
  position: absolute;
  z-index: 900;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 2px solid dimgrey;
  overflow: auto;
  padding-top: 60px;

  &__message {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
  }
}